body{
    maragin:0;
    padding:0;
    font-family: 'Pushster', cursive;

}
.first_part{
    display:flex;
}
.half_width{
    width:50%;
}
span{
    color:green;
    font-size: 20px;
    font-weight: 700;
}