body{
    maragin:0;
    padding:0;
    font-family: 'Merriweather', serif;

}
strong{
    color:greenyellow;
}

.first_part{
    display:flex;
    background-image: linear-gradient(120deg,rgb(39, 224, 39), blue);
}
.biboron{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 40px;
    margin-right:20px;
    transition-duration: 4s;
}
.nice_link{
    margin-bottom:45px;
}
.image_part1{
    margin-left:10px;
    margin-right:20px;
}
.half_width{
    width:50%;
}
span{
    color:rgb(247, 120, 194);
    font-size: 20px;
    font-weight: 700;
}
.second_part{display:flex;}
a{
    text-decoration: none;
    padding:10px 20px;
    text-align:center;
    color:white;
    background-image: linear-gradient(45deg, red, yellow);
    font-weight: 500;
    border-radius:10px;
    box-shadow:5px 5px 5px rgb(75, 68, 68);
    
}
a:hover{
    background-image: linear-gradient(45deg, yellow, red);
   
}
.third_section {
    
}
.container{display:flex;}
.container .margin_box{
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    padding:10px;
    
}
.container .margin_box h4{
    text-align: center;
    font-size: 20px;
    color:lightseagreen;
    font-weight: 600;
}